<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Inicio de Sesión</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #000;
      color: #fff;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }


    .Principal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      padding: 0 20px;
      /* Añadido un relleno a los lados para separar los elementos */
    }


    .Iniciar {
      background-color: #000;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
      text-align: center;
      margin: 0 auto;
      /* Para centrar .Iniciar */
      margin-right: 50px;
    }


    h2 {
      color: #ff00ff;
    }


    form {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
    }


    label {
      margin-bottom: 5px;
      color: #ff00ff;
      display: flex;
    }


    input {
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ff00ff;
      border-radius: 5px;
    }


    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }


    .login {
      background-color: #ff00ff;
      color: #000;
    }


    .register {
      background-color: #000;
      color: #ff00ff;
      margin-top: 10px;
    }


    .MostrarDatos {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #ff00ff;
    }


    #datospublicos {
      width: 600px;
      height: 300px;
      border: 1px solid #ff00ff;
      border-radius: 5px;
      background-color: #000;
      color: #fff;
      resize: none;
    }
    

  </style>


</head>

<body>


  <div class="Principal">
    <div class="Iniciar">
      <h2 id="texts">Iniciar Sesión</h2>


      <form id="formularioindex">
        <div>
          <label for="username">Nombre de Usuario:</label>
          <input type="text" id="username" name="username" required>
        </div>


        <div>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required>
        </div>


        <div id="import">
          <button type="button" id="loginbutton" class="login">Aceptar</button>
          <button type="button" onclick="window.location.href='/registro'" class="register">Registrarse</button>

        </div>
      </form>
      <button type="button" id="datos" class="datos">Datos</button>


    </div>
    <script>



      document.addEventListener('DOMContentLoaded', function () {
        const loginButton = document.getElementById('loginbutton');
        const datosButton = document.getElementById('datos');
        
        var token;
        var sesion = 0;


        loginButton.addEventListener('click', handleLogin);
        datosButton.addEventListener('click', mostrarDatos);
        

        async function handleLogin() {
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;


          const resultado = await loginUser(username, password);

          token = resultado.token;
          rol = resultado.rol;

          if (token) {

            if (rol == "user") {
              sesion = 1;
              var form = document.getElementById("formularioindex");
              var et = document.getElementById("texts");
              et.textContent = " Bienvenido " + username;
              form.style.display = "none";

            } else if (rol == "admin") {
              console.log('rol obtenido' + rol);
              var form = document.getElementById("formularioindex");
              var et = document.getElementById("texts");
              et.textContent = " Bienvenido " + username;
              form.style.display = "none";
              sesion = 2;

            } else if (rol == "moderator") {
              console.log('rol obtenido' + rol);
              var form = document.getElementById("formularioindex");
              var et = document.getElementById("texts");
              et.textContent = " Bienvenido " + username;
              form.style.display = "none";
              sesion = 3;             
              
            }


          } else {
            console.error('Error al obtener el token');
          }
        }





        async function loginUser(username, password) {
          try {
            const response = await fetch('/api/auth/signin', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ username, password }),
            });

            if (response.ok) {
              const data = await response.json();
              return { token: data.accessToken, rol: data.rol };
            } else {
              const errorResponse = await response.json();
              console.error('Error en la solicitud POST:', response.statusText);
              alert(errorResponse.message);
            }

          } catch (error) {

            console.error('Error al realizar la solicitud POST:', error.message);
          }

          return null;
        }



        async function mostrarDatos() {
          if (sesion == 1) {
            const response = await handleGETClick(token);

            if (Array.isArray(response) && response.length > 0) {
              let alertUsuario = "Libros:\n";
              // Agrega encabezados
              alertUsuario += "+--------------------------------------------+------------------------------+\n";
              alertUsuario += "|       Titulo                               |        Autor                 |\n";
              alertUsuario += "+--------------------------------------------+------------------------------+\n";

              response.forEach((obj, index) => {
                const titulo = obj.titulo;
                const autor = obj.autor;
                
                // Agrega datos con formato de tabla
                alertUsuario += `|  ${titulo.padEnd(40)}  |  ${autor.padEnd(25)}   |\n`;
              });

              alertUsuario += "+------------------------+---------------------------+---------------------+\n";

              document.getElementById('datospublicos').value = alertUsuario;

                

            } else {
              alert('La respuesta no contiene datos o no es un array válido.');
            }
          } else if (sesion == 2) {

            const response = await handleGETClickAdmin(token);


            if (Array.isArray(response) && response.length > 0) {
              let alertUsuario = "Usuarios:\n";
              // Agrega encabezados
              alertUsuario += "+------------------------+---------------------------+---------------------+\n";
              alertUsuario += "|       Username         |        Email              |         Rol         |\n";
              alertUsuario += "+------------------------+---------------------------+---------------------+\n";

              response.forEach((obj, index) => {
                const username = obj.username;
                const email = obj.email;
                const rol = obj.rol;
                // Agrega datos con formato de tabla
                alertUsuario += `|  ${username.padEnd(20)}  |  ${email.padEnd(23)}  |  ${rol.padEnd(17)}  |\n`;
              });

              alertUsuario += "+------------------------+---------------------------+---------------------+\n";

              document.getElementById('datospublicos').value = alertUsuario;
            } else {
              alert('La respuesta no contiene datos o no es un array válido.');
            }




          } else if (sesion == 3) {

            const response = await handleGETClickModerator(token);


            if (Array.isArray(response) && response.length > 0) {
              let alertUsuario = "Usuarios:\n";
              // Agrega encabezados
              alertUsuario += "+------------------------+---------------------------+---------------------+\n";
              alertUsuario += "|       Username         |        Email              |         Rol         |\n";
              alertUsuario += "+------------------------+---------------------------+---------------------+\n";

              response.forEach((obj, index) => {
                const username = obj.username;
                const email = obj.email;
                const rol = obj.rol;
                // Agrega datos con formato de tabla
                alertUsuario += `|  ${username.padEnd(20)}  |  ${email.padEnd(23)}  |  ${rol.padEnd(17)}  |\n`;
              });

              alertUsuario += "+------------------------+---------------------------+---------------------+\n";

              document.getElementById('datospublicos').value = alertUsuario;
            

            } else {
              alert('La respuesta no contiene datos o no es un array válido.');
            }
          }

          else {

            try {
              const response = await fetch('/api/test/all', {
                method: 'GET',
                headers: {

                },
              });

              if (!response.ok) {
                console.error('Error en la solicitud GET:', response.status, response.statusText);

              } else {
                const data = await response.json();
                document.getElementById('datospublicos').value = 'Numero total de Libros registrados'+data;
                
              }
            } catch (error) {
              console.error('Error al realizar la solicitud GET:', error.message);
            }

          }
        }

        async function handleGETClick(token) {
          try {
            const response = await fetch('/api/test/user', {
              method: 'GET',
              headers: {
                'x-access-token': token,
              },
            });

            if (!response.ok) {
              console.error('Error en la solicitud GET:', response.status, response.statusText);

            } else {
              const data = await response.json();
              console.log('Respuesta GET:', data);
              return data;
            }
          } catch (error) {
            console.error('Error al realizar la solicitud GET:', error.message);
          }
        }

        async function handleGETClickAdmin(token) {
          try {
            const response = await fetch('/api/test/admin', {
              method: 'GET',
              headers: {
                'x-access-token': token,
              },
            });

            if (!response.ok) {
              console.error('Error en la solicitud GET:', response.status, response.statusText);

            } else {
              const data = await response.json();
              console.log('Respuesta GET:', data);
              return data;
            }
          } catch (error) {
            console.error('Error al realizar la solicitud GET:', error.message);
          }
        }

        async function handleGETClickModerator(token) {
          try {
            const response = await fetch('/api/test/mod', {
              method: 'GET',
              headers: {
                'x-access-token': token,
              },
            });

            if (!response.ok) {
              console.error('Error en la solicitud GET:', response.status, response.statusText);

            } else {
              const data = await response.json();
              console.log('Respuesta GET:', data);
              return data;
            }
          } catch (error) {
            console.error('Error al realizar la solicitud GET:', error.message);
          }
        }

        
      
      });

    </script>

    <div class="MostrarDatos">
      <h2>Datos:</h2>
      <textarea id="datospublicos" rows="4" cols="30" readonly></textarea>
    </div>
  </div>





</body>

</html>